In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv(r"C:\Users\Manish\Downloads\movie/IMDB-Movie-Dataset.csv")

In [4]:
movies['cast'][0]

'Shah Rukh Khan, Nayanthara, Vijay Sethupathi, Deepika Padukone'

In [5]:
movies['cast'] = movies['cast'].str.replace(',', '')

In [6]:
movies.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,Shah Rukh Khan Nayanthara Vijay Sethupathi Dee...
1,1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,Kareena Kapoor Jaideep Ahlawat Vijay Varma Sau...
2,2,tt11663228,Jailer,2023,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,Rajinikanth Mohanlal Shivarajkumar Jackie Shroff
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,Ranveer Singh Alia Bhatt Dharmendra Shabana Azmi
4,4,tt15732324,OMG 2,2023,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,Pankaj Tripathi Akshay Kumar Yami Gautam Pawan...

In [7]:
movies.isnull().sum()

Unnamed: 0     0
movie_id       0
movie_name     0
year          65
genre          0
overview       0
director       0
cast           0
dtype: int64

In [8]:
movies['year'].fillna(0)

0       2023
1       2023
2       2023
3       2023
4       2023
        ...
2194       0
2195    2002
2196    2021
2197    1989
2198    2001
Name: year, Length: 2199, dtype: object

In [9]:

 movies['director'] = movies['director'].str.replace(" ", "")

 movies['genre'] = movies['genre'].str.replace(" ", "")

In [10]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies['genre'] = movies['genre'].apply(lambda x:x.split())
movies['director'] = movies['director'].apply(lambda x:x.split())
movies['cast'] = movies['cast'].apply(lambda x:x.split())

In [11]:
movies['tags'] = movies['overview'] + movies['genre'] + movies['director'] + movies['cast']

In [12]:
new_df = movies[['movie_id','movie_name', 'year','tags']]

In [13]:
new_df.head()

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,"[A, high-octane, action, thriller, which, outl..."
1,tt15748830,Jaane Jaan,2023,"[A, single, mother, and, her, daughter, who, c..."
2,tt11663228,Jailer,2023,"[A, retired, jailer, goes, on, a, manhunt, to,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Flamboyant, Punjabi, Rocky, and, intellectual..."
4,tt15732324,OMG 2,2023,"[An, unhappy, civilian, asks, the, court, to, ..."

In [14]:
# Convert the tags column to strings
new_df['tags'] = new_df['tags'].astype(str)

# Remove commas and square brackets from the tags column
new_df['tags'] = new_df['tags'].str.replace(',', '').str.replace('[', '').str.replace(']', '')

# Remove apostrophes from each word in the tags column
new_df['tags'] = new_df['tags'].str.replace("'", "")

C:\Users\Manish\AppData\Local\Temp\ipykernel_22340\1733669154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].astype(str)
C:\Users\Manish\AppData\Local\Temp\ipykernel_22340\1733669154.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.replace(',', '').str.replace('[', '').str.replace(']', '')
C:\Users\Manish\AppData\Local\Temp\ipykernel_22340\1733669154.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.replace("'", "")

In [15]:
new_df.head()

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,A high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,2023,A single mother and her daughter who commit a ...
2,tt11663228,Jailer,2023,A retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,Flamboyant Punjabi Rocky and intellectual Beng...
4,tt15732324,OMG 2,2023,An unhappy civilian asks the court to mandate ...

In [16]:
new_df['tags'] = new_df['tags'].apply(lambda x: [word.replace(',', '').replace("'", "") for word in x] if isinstance(x, list) else x)

C:\Users\Manish\AppData\Local\Temp\ipykernel_22340\872024405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: [word.replace(',', '').replace("'", "") for word in x] if isinstance(x, list) else x)

In [17]:
new_df.head()

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,A high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,2023,A single mother and her daughter who commit a ...
2,tt11663228,Jailer,2023,A retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,Flamboyant Punjabi Rocky and intellectual Beng...
4,tt15732324,OMG 2,2023,An unhappy civilian asks the court to mandate ...

In [18]:
import string

def preprocess_text(text):
    # Remove punctuation
    text = ''.join([char for char in text if char not in string.punctuation])
    # Convert text to lowercase
    text = text.lower()
    return text

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize CountVectorizer with custom preprocessor
cv = CountVectorizer(max_features=5000, stop_words='english', preprocessor=preprocess_text)

In [20]:
 vectors = cv.fit_transform(new_df['tags']).toarray()

In [21]:
# Convert all text in the 'tags' column to lowercase
new_df['tags'] = new_df['tags'].str.lower()

C:\Users\Manish\AppData\Local\Temp\ipykernel_22340\2837060901.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].str.lower()

In [33]:
new_df.head(-5)

,movie_id,movie_name,year,tags
0,tt15354916,Jawan,2023,a high-octane action thriller which outlines t...
1,tt15748830,Jaane Jaan,2023,a single mother and her daughter who commit a ...
2,tt11663228,Jailer,2023,a retired jailer goes on a manhunt to find his...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,flamboyant punjabi rocky and intellectual beng...
4,tt15732324,OMG 2,2023,an unhappy civilian asks the court to mandate ...
...,...,...,...,...
2189,tt0833537,Souten: The Other Woman,2006,after the accidental death of her lover mitali...
2190,tt0314186,Humko Tumse Pyaar Hai,2006,a blind woman is taken care by a wealthy noble...
2191,tt0072972,Faraar,1975,when two lovers separated due to financial cir...
2192,tt0047561,Taxi Driver,1954,mangal drives a taxi by day then drinks at nig...
2193,tt0214832,Kalicharan,1976,a police officer goes undercover to catch a we...

In [23]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity 

# Assuming 'vectors' is your feature vectors
similarity = cosine_similarity(vectors)

# Convert the similarity matrix to arrays
similarity_arrays = np.array(similarity)

# Now you can use similarity_arrays as arrays

In [24]:
 similarity[1]

array([0.05143445, 1.        , 0.        , ..., 0.        , 0.        ,
       0.        ])

In [25]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x: x[1])[1:6]

[(154, 0.30151134457776363),
 (1071, 0.2858309752375148),
 (147, 0.27498597046143514),
 (38, 0.27036903521793754),
 (191, 0.26352313834736496)]

In [26]:
def recommend(movie):
    movie_index = new_df[new_df['movie_name'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]
    for i in movies_list:
        
       print(new_df.iloc[i[0]].movie_name)

In [27]:
recommend('OMG 2')

Khiladiyon Ka Khiladi
Housefull 5
Bachchhan Paandey
Sherdil
OMG: Oh My God!

In [28]:
!pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [29]:
import pickle

In [30]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [31]:
import pickle

# Dump the similarity matrix to a .pkl file
pickle.dump(similarity, open('similarity.pkl', 'wb'))